@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

a{
  text-decoration: none;
}

body{
  background-color: #E5E5E5;
  color: #343333;
}

@font-face {
	font-family: 'Kharkiv Tone'; 
	src: url('./fonts/Kharkiv Tone.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.container{
  background-color: #fff;
  max-width: 375px;
  margin: 0 auto;
}

.stroke-text{
  -webkit-text-stroke: 0.1px white; /* Странное отображение в Chrome */
  -webkit-text-fill-color: transparent;
}

/* =Title= */

.header-title {

  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Kharkiv Tone';
  font-style: normal;
}

.title-container{
  display: flex;
  margin-right: 16px;
  margin-left: 12px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.search-icon{
  width: 24px;
  height: 24px;
}

/* =Stock= */

.header-stock{
  display: flex;
  position: relative;
  background-color: #E5E5E5;
  border: 1px solid #A7A7A7;

  justify-content: center;
  align-items: center;

  height: 40px;
}

.stock-content{
  color: #343333;
  font-weight: 400;
  line-height: 9px;
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Kharkiv Tone';
}

.stock-close{
  position: absolute;
  height: 16px;
  width: 16px;
  right: 0;
  margin-right: 16px;
  transition: transform .3s ease-in-out;
}

.stock-close:hover{
  transform: rotate(-90deg);
}

/* =Tabs= */

.nav-container {
  height: 32px;
}

.nav-container ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-container ul li{
  list-style: none;
}

.tabs-container{
  display: flex;
  align-items: center;
}

.tab-item{
  line-height: 30px;
  font-size: 13px;
  color: #a7a7a7;
  font-family: 'Raleway';
  width: 33.333333%;
  text-align: center;
}

.tab-item a{
  color: #343434;
  opacity: 0.5;
  transition: opacity .3s ease-in-out;
}

.t-selected a {
  opacity: 1;
}
.tab-item.t-selected a::after{
  width: 100%;
}

.tab-item a:hover{
  opacity: 1;
}

.tab-item a::after{
  content: "";
  display: block;
  height: 2px;
  background-color: black;
  width: 0%;
  transition: width .3s ease-in-out;
  margin: 0 auto;
}

/* =Main Banner= */

.main-banner{
  height: 330px;
  background-image: url('../assets/photos/main-banner.png');
}

.main-banner .comfort, .main-banner .simplicity{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Kharkiv Tone';
  font-size: 30px; line-height: 30px;
  color: white;
}

.main-banner .comfort{
  margin: 231px 77px 0 36px;
}

.main-banner .simplicity{
  margin: 269px 39px 0 36px;
}

/* =Card Items= */ /* Используется в 'Новинках' & 'Хиты продаж' */

.card-items{
  height: 320px;
}

.card-items-wrapper{
  margin-top: 40px;
  margin-left: 12px;
}

.title-next{
  margin-left: 12px;
  margin-right: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.title-next .title{
  font-weight: 400;
  font-family: 'Kharkiv Tone';
  font-size: 14px;
  text-transform: uppercase;
}

.title-next .next{
  font-size: 24px;
  width: 24px; height: 24px;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 21px;
  height: 250px;
  width: auto;
  overflow: hidden;
}

.card-items-splide{
  height: 320px;
}

.card {
  position: relative;
  border: 1px solid #a7a7a7;
  background-color: #f4f4f4;
}

.card .item-image{
  width: 116px;
  height: 181px;
  margin: 0 30px 0px 29px;
}

.card .like-image{
  position: absolute;
  top: 0; right: 0; width: 14px; height: 14px;
  margin: 8px;
}

.card .info{
  width: 150px; height: 36px;
  margin: 12px;
}

.card .info .title{
  font-size: 12px;
  font-family: 'Raleway';
  font-weight: 600;
}

.card .info .price-preorder{
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-preorder .price{
  font-size: 10px;
  font-weight: 500;
  font-family: 'Raleway';
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;  
}

.price-preorder .pre-order{
  font-weight: 400;
  font-size: 8px;
  font-family: 'Raleway';
  color: #D62A11;
}

/* =Video Banner= */

.video-banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 330px;
  background-image: url('../assets/photos/video-banner.png');
  background-size: cover;
}

.video-banner .cult{
  color: white;
  word-break: break-all;
  width: 0;
  opacity: .3;
  font-size: 35px;
  line-height: 32px;
  font-family: 'Kharkiv Tone';
}

/* =Minor Banner= */

.minor-banner{
  position: relative;
  margin: 12px 12px 0 12px;
  height: 351px;
  background-image: url('../assets/photos/minor-banner.png');
  background-size: cover;
}

.minor-banner .blur-footer{
  position: absolute; bottom: 0;
  height: 110px;
  width: 100%;
  background: rgba(52, 51, 51, 0.3);
  backdrop-filter: blur(5px);
}

.minor-banner .content{
  font-family: 'Kharkiv Tone';
  color: white;
  text-align: right;
  margin-top: 25px;
  margin-right: 35px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
}

.minor-banner .content hr{
  border: none;
  opacity: 0.5;
  border-bottom: 1px solid white;
  height: 1px;
  margin-top: 3px;
  margin-bottom: 5px;
}

/* =Instagram Slider= */

.insta .insta-title{
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Kharkiv Tone';
}

.insta-card{
  transition: height .3s ease-in-out;
  flex: none;
  height: 200px;
  width: 180px;
  border: 1px solid white;
  background-color: rgb(228, 228, 228);
}

.img-card{
  transition: height .3s ease-in-out;
  object-fit: cover;
}

.insta{
  height: 260px;
}

/* Tabbar | Footer */

.tabbar-container{
  background-color: white;
  height: 60px;
}

.tabbar-container ul{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: baseline;
  list-style-type: none;
}

.tabbar-item{
  transition: opacity .2s ease-in-out;
  opacity: 0.4;
}

.tabbar-item:hover{
  opacity: 1;
}

.tabbar-item a{
  display: flex;
  flex-flow: row;
  flex-direction: column;

  font-size: 10px;
  font-family: 'Raleway';
  color: #343434;
}

.selected{
  opacity: 1;
}

.tabbar-item a img{
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 2px;
}
